.header{
    
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

    }

    &-link{
        font-weight: 700;
        font-size: 17px;
        color: black;
    }
}